.App {
  margin: 0;
  padding: 0;
  /* background: #7ebfff; */
  background-image: url('./Assets/paperBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Remove default Bootstrap navbar margins */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* margin-bottom: 0 !important;
  border-bottom: none !important; */
}

/* Remove any default margins from the first element after navbar */
.App > * + * {
  margin-top: 0 !important;
}

/* Ensure no spacing in the router */
.App > div {
  margin: 0 !important;
  padding: 0 !important;
}